aniso8601==8.0.0
click==7.1.2
chardet==3.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pymongo==3.10.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
flask==1.1.2
flask-pymongo==2.3.0
flask-restful==0.3.8
mongoengine==0.20.0
flask_mongoengine==0.9.5
asterisk-ami==0.1.5
blinker==1.4
flask-jwt-extended
flask-jwt
PyJWT
marshmallow
requests
pandas
flask_cors
sentry-sdk[flask]
pre-commit
pylint
gunicorn==20.1.0
eventlet==0.30.2